@use '../utils/utils';

.header {
  position: fixed;
  top: 0; left: 0; width: 100%;
  background: #23272a; 
  color: #fff;          
  @include utils.flex-center;
  justify-content: space-between;
  height: 80px;
  transition: height 0.3s;
  z-index: 100;

  &__logo {
    font-weight: bold;
    font-size: 1.5rem;
    padding-left: 2rem;
    color: #fff; 
  }

  &__nav-list {
    display: flex;
    gap: 2rem;
    padding-right: 2rem;
    list-style: none;
  }

  &__nav-link {
    position: relative;
    font-weight: 500;
    color: #fff; 
    &:focus, &:hover {
      color: utils.$primary-color;
    }
  }
   &__burger {
    display: none;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 1rem;
    z-index: 999;

    span {
      display: block;
      width: 30px;
      height: 3px;
      background: #fff;
      border-radius: 2px;
      transition: all 0.3s;
    }

    @include utils.respond(mobile) {
      display: flex;
    }
  }

  &__nav {
    @include utils.respond(mobile) {
      display: none;
      position: absolute;
      top: 80px;
      left: 0;
      width: 100%;
      background: #23272a;
      flex-direction: column;
      align-items: center;

      &.active {
        display: flex;
        animation: navFadeIn 0.3s;
      }
    }
  }

  @keyframes navFadeIn {
    from { opacity: 0; transform: translateY(-15px);}
    to { opacity: 1; transform: translateY(0);}
  }
}
